@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: rgba(0, 188, 212, 1);
  --color-alt: #2b2d42;
  --color-pink: #ee82d9;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
  --russian-violet: #271449;
  --patriarch: #691378;
  --xanadu: #7d938a;
  --antique-white: #ffeed6;
  --xanadu-2: #808f87;
  --color-footer: #20103c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
